@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "";
    var editable = Convert.ToBoolean(ViewBag.isedit)?"":"disabled";

}

<div class="employeetable">
    <div class="avatar">
        <div id="image"> <img id="imagesrc" /></div>
    </div>
    <div class="info">
        <div class="name">
            名子:<input type="text" style="width:-webkit-fill-available;" id="employeFirstName" @editable />
            姓氏:<input type="text" style="width:-webkit-fill-available;" id="employeLastName" @editable />
        </div>
        <div class="title">
            職稱:<input type="text" style="width:-webkit-fill-available;" id="title" @editable />
        </div>
        <div class="birthday">
            生日:<input type="text" style="width:-webkit-fill-available;" id="birthday" @editable />
        </div>
        <div class="address">
            地址:<input type="text" style="width:-webkit-fill-available;" id="address" @editable />
        </div>
        <div class="country">
            國家:<input type="text" style="width:-webkit-fill-available;" id="country" @editable />
        </div>
        <div class="note">
            備註:<textarea id="note" style="width:-webkit-fill-available;" type="text" @editable></textarea>
        </div>
    </div>
</div>

<script>
    //class Check {
    //    constructor(firstname, lastname, title, birthDate, address, country) {
    //        this.firstname = firstname;
    //        this.lastname = lastname;
    //        this.title = title;
    //        this.birthDate = birthDate;
    //        this.address = address;
    //        this.country = country;
    //        this.warning = {
    //            name: '',
    //            title: '',
    //            birthDate: '',
    //            address: '',
    //            country: '',
    //        }
    //    }

    //    checkALL() {

    //        var checknameresult = this.checkName();
    //        var checkbirthdayresult = this.checkbitrhday();
    //        var checktitleresult = this.checktitle();
    //        var checkAddressresult = this.checkAddress();
    //        var checkCountryresult = this.checkCountry();

    //        if (checknameresult &&
    //            checkbirthdayresult &&
    //            checktitleresult &&
    //            checkAddressresult &&
    //            checkCountryresult) {
    //            return true;
    //        }

    //        return false;
    //    }

    //    checkName() {
    //        if (!this.firstname || this.firstname === undefined || this.firstname.length < 1 ||
    //            !this.lastname || this.lastname === undefined || this.lastname.length < 1) {
    //            this.warning.name = '<br>請輸入完整的姓名';
    //            return false;
    //        }
    //        this.warning.name = '';
    //        return true;
    //    }

    //    checkbitrhday() {
    //        if (!this.birthDate || this.birthDate === undefined || this.birthDate.length < 1) {
    //            this.warning.birthDate = '<br>請輸入生日';
    //            return false;
    //        }
    //        this.warning.birthDate = '';
    //        return true;
    //    }

    //    checktitle() {
    //        if (!this.title || this.title === undefined || this.title.length < 1) {
    //            this.warning.title = '<br>請輸入姓名';
    //            return false;
    //        }
    //        this.warning.title = '';
    //        return true;
    //    }

    //    checkAddress() {
    //        if (!this.address || !this.address === undefined || this.address.length < 1) {
    //            this.warning.address = '<br>請輸入地址';
    //            return false;
    //        }
    //        this.warning.address = '';
    //        return true;
    //    }

    //    checkCountry() {
    //        if (!this.country || !this.country === undefined || this.country.length < 1) {
    //            this.warning.country = '<br>請輸入國家';
    //            return false;
    //        }
    //        this.warning.country = '';
    //        return true;
    //    }
    //}
</script>

<style >
    .employeetable {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }

    .employeetable .avatar {
        margin-right: 10px;
    }

    .employeetable .info {
    }

    .employeetable .info .name {
        margin-bottom: 10px;
    }

    .employeetable .info .birthday {
        margin-bottom: 10px;
    }

    .employeetable .info .country {
        margin-bottom: 10px;
    }

    .employeetable .info .title {
        margin-bottom: 10px;
    }

    .employeetable .info .address {
        margin-bottom: 10px;
    }

    .employeetable .info .note {
        margin-bottom: 10px;
    }

</style>