@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Layout = "";
}
<div id="insertemployee">
    <div id="insertempployeetable">

    </div>

    <div>
        <input type="file" id="uploadfile"  style="display:none"/>
        <input type="button" id="doUpLoad" value="上傳照片" />
    </div>

    <div id="warning" style="display:none">

    </div>


    <div class="insertsubmit">
        <input type="button" id="insertsubmit"  value="送出" />
    </div>
</div>

<script src="~/js/insert.js" asp-append-version="true"></script>

<style>
    .insertsubmit {
        margin-top:30px
    }
</style>