@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "";
}
<div>
    請輸入員工ID<br>
    <input type="text" id="employee" />
    <input type="button" id="searchsubmit" placeholder="" value="送出" />
</div>
<div id="employeetable"></div>

<script src="~/js/site.js" asp-append-version="true"></script>