
@{
    Layout = "";
    ViewData["Title"] = "UpateEmployee";
}


<div id="updateemployee">
    <div>
        請輸入員工ID<br />
        <input type="text" id="updateemployeeid" />
        <input type="button" id="updatesearchsubmit" value="送出" />
    </div>
    <div id="updateempployeetable">

    </div>

    <div id="warning" style="display:none">

    </div>


    <div>
        <input type="button" id="updatesubmit" style="display:none" value="送出" />
    </div>
</div>

<script src="~/js/update.js" asp-append-version="true"></script>